head
  //
    
    💙
    Nice to see you're looking under the hood. To see how things work go to 
    github.com/nosajio/nosaj-io. If you have any questions, tweet me @__nosaj
  
  if head.title
    title !{head.title} // Jason makes the internet
  else
    title Jason makes the internet
  //- For Google
  meta(name="google-site-verification" content="PF-4AUGrHItlJCD2L3SDJKv7sKEZsdX7ixLHeorRimE")
  //- Twitter crap
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:creator" content="@__nosaj")
  //- Original Graphter
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="og:url" property="og:url" content=head.ogUrl || "https://nosaj.io/")
  meta(name="og:type" property="og:type" content="website")
  meta(name="og:title" property="og:title" content=head.title || "Jason makes the internet")
  meta(name="og:description" property="og:description" content=head.ogDescription || "I design & make measurable products with modern web technologies.")
  meta(name="og:image" property="og:image" content=head.ogImage || "http://a.nosaj.io/og-nosaj.png")
  
  //- Configure Typekit
  style.
    @import url("https://use.typekit.net/nha0neq.css");
  
  style !{head.stylesheet}
  
  if head.scripts
    script !{head.scripts}
