head
  //
    
    💙
    Hey there. Thanks for taking the time to look under the hood. If you ever 
    want to geek out about web tech, feel free to email me: jason @ this domain, or 
    tweet me @__nosaj
  
  if head.title
    title !{head.title} // Jason makes the internet
  else
    title Jason makes the internet
  //- For Google
  meta(name="google-site-verification" content="PF-4AUGrHItlJCD2L3SDJKv7sKEZsdX7ixLHeorRimE")
  //- Twitter crap
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:creator" content="@__nosaj")
  //- Original Graphter
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="og:url" property="og:url" content=head.ogUrl || "https://nosaj.io/")
  meta(name="og:type" property="og:type" content="website")
  meta(name="og:title" property="og:title" content=head.title || "Jason makes the internet")
  meta(name="og:description" property="og:description" content=head.ogDescription || "I design & make measurable products with modern web technologies.")
  meta(name="og:image" property="og:image" content=head.ogImage || "http://a.nosaj.io/og-nosaj.png")
  //- Shortcut icons
  link(rel="shortcut icon" href=`/favicon.png?c=${head.iconColor || '000'}`)
  link(rel="icon" href=`/favicon.png?c=${head.iconColor || '000'}`)
  link(rel="apple-touch-icon" href=`/favicon.png?d=128&c=${head.iconColor || '000'}`)
  
  style !{head.stylesheet}
  script(src='https://use.typekit.net/nha0neq.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}
  if head.scripts
    script !{head.scripts}
