include /components/button
doctype html
html
  include /includes/head
  body.front-view
    main.main-frame
      include /includes/navigation
      section.front-section.front-intro
        .front-intro-opener.g6
          h1.front-intro-title.g4 !{introText}
          .front-intro-secondary
            .intro-secondary.available.g2
              span.available-highlight= availableText
              span.available-links 
                a(href='work-together') #[a(href='work-together') More information] or #[a(href='mailto:hi@nosaj.io?subject=Work enquiry') Email me]
            .intro-secondary.writing.g2
              span.secondary-heading Writing
              span.secondary-text Latest post: #[a(href=`/r/${posts[0].slug}`)= posts[0].title]
            .intro-secondary.writing.g2
              span.secondary-heading Work
              span.secondary-text Latest project: #[a(href=`#work`)= projects[0].title]
      section.front-section.front-writing.g6
        a#writing
        h2.front-heading.g6.center Writing
        ul.writing-list
          each post in posts
            li.writing-post
              h3.writing-post-title
                a(href=`/r/${post.slug}`)= post.title
                span.writing-post-date= post.dateString
      section.front-section.front-work.g6
        a#work
        h2.front-heading Selected Works
        .front-work-grid
          each project in projects
            unless project.url
              div.front-project(class=project.className href=project.url target='_blank')
                if project.cover
                  img(src=project.cover alt=project.title)
            else
              a.front-project(class=project.className href=project.url target='_blank')
                if project.cover
                  img(src=project.cover alt=project.title)
            
      include /includes/footer
