include /components/button
doctype html
html
  include /includes/head
  body.front-view
    main.main-frame
      section.front-section.front-intro.g4
        h1.front-intro-title !{introText}
        div.front-intro-actions
          +button('Hire me', '/work-together')
          +button('Contact me', '/contact')
      section.front-section.front-writing.g6
        a#writing
        h2.front-heading.g4.center Writing
        ul.writing-posts-list
          each post in posts
            li.writing-post
              span.writing-post-date=post.dateString
              span.writing-post-title
                a(href=`/r/${post.slug}`)= post.title
      section.front-section.front-work.g4
        a#work
        h2.front-heading Work
        each project in projects
          article.project
            div.project-images
              each img in project.images
                div.project-image(class=`project-image--${img.device}` style={'background-image': `url(${img.src})`})
            div.project-info
              h3.project-title= project.title
              a.project-url(href=project.url target='_blank')= project.url
              p.project-description= project.description
  include /includes/footer
