doctype html
html
  include /includes/head
  body.landing-view
    include /includes/navigation
    main.main-frame
      section.landing-top
        div.landing-top__intro
          each line in introText
            h1= line
          each line in introSubtext
            p!= line
        include actions
      section.posts
        header.posts__header 
          h1.section-title Blog
        each post in posts
          article.posts__post
            a(href=`/r/${post.slug}`)
              h1.posts__post-title
                span.title-text(style={'border-bottom-color': post.coverColor})= post.title 
                  span.title-bg(style={'background-color': post.coverColor})
              span.posts__post-date= post.dateString
      section.landing-kindness
        //- include quotes
  include /includes/footer
