doctype html
html
  include /includes/head
  body.landing-view
    include /includes/navigation
    main.main-frame
      section.landing-top
        div.landing-top__intro
          each line in introText
            p= line
        include actions
      section.posts
        each post in posts
          article.posts__post
            div.posts__post-bg(style={'background-image': post.coverImg ? `url(${post.coverImg})` : '', 'background-color': post.coverColor})
            a(href=`/r/${post.slug}`)
              h1.posts__post-title= post.title 
              span.posts__post-date= post.dateString
      section.landing-kindness
        include quotes
  include /includes/footer
