doctype html
html
  include /includes/head
  body.work-view
    include /includes/logo
    main.main-frame
      section.work-main
        each project in projects
          div.work-block(class=project.id)
            div.work-block__preview
              each img in project.images
                div.preview(class=`preview--${img.type}`)
                  img(src=img.url alt='')
            div.work-block__body
              header.work-block__title
                h1= project.product
              p= project.description
              if project.webURL
                a(href=project.webURL target='_blank').project-url Live site
    include /includes/footer
