doctype html
html
  include /includes/head
  body.work-view.light-bg
    include /includes/navigation
    main.main-frame
      header.page-header 
        h1 Work.
      section.work-main
        section.work-projects
          h2.work-heading Recent projects.
          each p in recentProjects
            article.project
              div.project__title
                h1= p.product
                if p.stack
                  span.project__stack
                    strong Stack:
                    span= p.stack
                if p.turnaround
                  span.project__turnaround
                    strong Turnaround:
                    span= p.turnaround
              div.project__image
                case p.image[0].frame
                  when 'mobile'
                    include /work/mobile
                //- img(src=p.image alt='')
              div.project__body
                p= p.description
                
        include /includes/umakingsummatbruv
        
      section.work-secondary.page-body
        if opensrc
          section.work-open-src
            h2.work-heading Open source.
            ul.open-src
              each os, title in opensrc
                li.open-src__item
                  a(href=os.url target='_blank')
                    h3.open-src__title= title
                    span.open-src__description= os.description
          
        if fulltime
          section.work-fulltime
            h2.work-heading Places I've worked.
            ul.fulltime
              each ft in fulltime
                li.fulltime__item
                  span.fulltime__image(style={ 'background-image': `url(${ft.image})`})
                  span.fulltime__when= ft.when
                  h2.fulltime__title= ft.name
                  span.fulltime__position= ft.position
                  span.fulltime__location= ft.where
        
        if archive
          section.work-archive
            h2.work-heading Projects archive
            article.archive
              each year in archive
                div.archive__year
                  h3.archive__year-heading= year.year
                  ul.archive__projects
                    each p in year.projects
                      li.archive__project
                        if p.url
                          a(href=p.url target='_blank')
                            if p.employer
                              span.archive__employer= p.employer
                            strong.archive__title= p.title
                            em.archive__owned= p.owned
                        else
                          if p.employer
                            span.archive__employer= p.employer
                          strong.archive__title= p.title
                          em.archive__owned= p.owned
              
    include /includes/footer
