doctype html
html
  include /includes/head
  body.about-view.light-bg
    include /includes/navigation
    main.main-frame
      aside.bio-aside
        div.bio-image
          img(src='/img/jason.jpg' alt='Picture of Jason')
        //- div.bio-aside__block
        //-   h2.sidebar-title Personal Projects
        //-   span.sidebar-coming-soon Coming Soon
        div.bio-aside__block
          h2.sidebar-title Open Source
          ul.repos-list
            each repo in repos
              li.repos-list__repo
                a(href=repo.link) 
                  strong= repo.name 
                  p= repo.description
      div.bio-main
        section.bio-body
          header.bio-intro
            p= bio.intro
          each p in bio.body
            p= p
        section.bio-cta
          h2.bio-cta__title Fancy a chat?
          a(href='mailto:hi@nosaj.io') Email me
    include /includes/footer
