doctype html
html
  include /includes/head
  body.blog-view.light-bg
    include /includes/navigation
    main.main-frame
      article.blog-post
        header.blog-post__title
          //- span.box(style=`border-color: ${post.coverColor}`)
          h1= post.title
          div.blog-post__subline
            span.subline__item.subline__item--date= post.dateString
            span.subline__item.subline__item--location London
        if post.coverImg
          section.blog-post__cover
            img(src=post.coverImg alt=`${post.title}`)
        div.blog-post__body !{post.body}
      if message
        footer.blog-post__suffix 
          p.thanks Thanks for reading
          p !{message}
        
  include /includes/footer
