doctype html
html
  include /includes/head
  body.hire-me-view
    include /includes/navigation
    main.main-frame
      section.hire-me-section.introduction.g4
        h1.introduction-title= introText
      section.hire-me-section.availability.g6
        div.availability-chart
          each month in availabilityMonths 
            div.availability-chart-month(class=month.availability ? 'availability-chart-month--available' : 'availability-chart-month--busy')
              span.availability-chart-month-name= month.name
              span.availability-chart-month-status= month.status
          h2.availability-subtitle.g6 My availability for the next six months
      section.hire-me-section.logos
        div.logos-container.g6
          each logo in logos
            div.logos-logo
              img(src=logo.src alt=logo.name)
        header.hire-me-section-head.g4.gc
          h2.hire-me-section-title= workedWith
      section.hire-me-section.hire-me-form
        div.hire-me-form-text
          h2.hire-me-form-title Start the conversation
          p.hire-me-form-instruction= formText
        div.hire-me-form-main
          form(name='hire-me-form' action='/forms/hire-me' data-dynamic-form)
            div.form-content
              label.form-field.field-email
                input.text-field(required type='email' value='' name='email')
                div.field-label Email address
              label.form-field.field-email
                textarea.textarea-field(required name='description')
                div.field-label What are you making?
              label.form-field.field-submit
                button.button.button--flat.button--black.button--width-full(type='submit') Send
            div.form-success
              h3 That&#39;s sent!
              p= formSuccess
              p Speak soon!
  include /includes/footer
