doctype html
html
  include /includes/head
  body.hire-me-view
    include /includes/navigation
    main.main-frame
      section.hire-me-section.introduction.g4
        h1.introduction-title= introText
      section.hire-me-section.availability.g6
        header.hire-me-section-head.small
          h2.hire-me-section-title.g4 Availability
        div.availability-chart
          each month in availabilityMonths 
            div.availability-chart-month(class=month.availability ? 'availability-chart-month--available' : 'availability-chart-month--busy')
              span.availability-chart-month-name= month.name
              span.availability-chart-month-status= month.status
      section.hire-me-section.logos.g6
        header.hire-me-section-head
          h2.hire-me-section-title.g4= workedWith
        each logo in logos
          div.logos-logo
            //- img(src=logo.src alt=logo.name)
      section.hire-me-section.hire-me-form
        div.hire-me-form-text
          h2.hire-me-form-title Tell me about your project
          p.hire-me-form-instruction= formText
        div.hire-me-form-main
          form(name='hire-me-form' action='/forms/hire-me' data-dynamic-form)
            label.form-field.field-email
              input.text-field(required type='email' value='' name='email')
              div.field-label Email address (so I can reply to you)
            label.form-field.field-email
              textarea.textarea-field(required name='description')
              div.field-label What are you making?
            label.form-field.field-submit
              button.button.button--flat.button--blue.button--width-full(type='submit') Send
  include /includes/footer
